<?xml version = "1.0"?>
<settings>
    <!-- Master volume for all music. Decimal between 0 and 1 -->
    <volume>0.5</volume>

    <!-- Should music loop? If not true, then another song is selected from scene matches -->
    <loop>false</loop>
	
	<!-- Should include music in Risk of Rain 2 OST pool? If true, then normal soundtrack is played with music defiend here-->
	<!-- There is a 66% chance for custom music and 33% chacne for the normal game music to play. Customization planned-->
    <pool>true</pool>

    <!-- To have this plugin scan a different directory for music files,
        Uncomment <music-path> below (remove <!- - and - -> from the line below) -->

    <!-- <music-path>C:\Users\YourName\Music\SomeMusicFolder</music-path> -->

    <!--
        Here is where you define what songs are used in which scenes and if they are
        "boss" music (played during teleporter events or not).

        *****  If you just want to play with RoR1 music, you just need to make sure  *****
        *****  your music filenames match EXACTLY with all name="" attributes below. *****

        Here is an example of a file that will play on the title screen and other main menus:

        <song
            name="01 Risk of Rain.mp3"
            scenes="title,lobby,logbook,crystalworld,eclipseworld"
            boss="false"
            volume="0.5"
        />

        "name" must match the file name exactly. Supported extensions are ".mp3" and ".wav" (case sensitive).

        "scenes" are the comma separated scene IDs (or levels) that will have a chance to play this music.
        See README.md for more info on scene IDs.

        "boss" is if this music plays during a teleporter event or not (or during the final boss).
        It's important to understand that when boss is true, the music ONLY plays during teleporter events
        and when boss is false, the music ONLY plays when *NOT* during a teleporter event.

        If you want music to play regardless of the teleporter charging, you must make two <song> definitions
        with the same data but with one boss="true" and the other boss="false"

        "volume" is a local volume decimal (between 0 and 1) that gets multiplied with the global volume tag.

        You can have multiple <song> definitions with the same or similar data. If a scene matches multiple <song>'s
        then this plugin will choose one randomly. If NO matches are found, then the plugin will choose a random
        sound file it found in the plugin folder.
		
    -->
    <music>
        <song
            name="Risk of Rain.mp3"
            scenes="splash,intro,title,lobby,logbook,bazaar,crystalworld,eclipseworld,infinitetowerworld"
            boss="false"
            volume="1"
        />
        <song
            name="Dew Point.mp3"
            scenes="blackbeach,blackbeach2,golemplains,golemplains2,goolake,foggyswamp,arena,snowyforest,ancientloft"
            boss="false"
            volume="1"
        />
        <song
            name="Tropic of Capricorn.mp3"
            scenes="dampcavesimple,ancientloft,sulfurpools,snowyforest"
            boss="false"
            volume="1"
        />
        <song
            name="Monsoon.mp3"
            scenes="blackbeach,blackbeach2,golemplains,golemplains2.snowyforest"
            boss="false"
            volume="1"
        />
        <song
            name="Cyclogenesis.mp3"
            scenes="foggyswamp,shipgraveyard,bazaar,snowyforest"
            boss="false"
            volume="1"
        />
        <song
            name="25.3 N 91.7 E.mp3"
            scenes="outro"
            boss="false"
            volume="1"
        />
        <song
            name="25.3 N 91.7 E.mp3"
            scenes="mysteryspace"
            boss="false"
            volume="1"
        />
        <song
            name="Hailstorm.mp3"
            scenes="goldshores"
            boss="false"
            volume="1"
        />
        <song
            name="25.3 N 91.7 E.mp3"
            scenes="snowyforest,sulfurpools"
            boss="false"
            volume="1"
        />
        <song
            name="Moisture Deficit.mp3"
            scenes="goolake,wispgraveyard,sulfurpools"
            boss="false"
            volume="1"
        />
        <song
            name="Aurora Borealis.mp3"
            scenes="blackbeach,golemplains,frozenwall,snowyforest"
            boss="false"
            volume="1"
        />
        <song
            name="Arctic Oscillation.mp3"
            scenes="frozenwall,skymeadow,ancientloft,snowyforest"
            boss="false"
            volume="1"
        />
        <song
            name="Precipitation.mp3"
            scenes="limbo"
            boss="false"
            volume="1"
        />
        <song
            name="Precipitation.mp3"
            scenes="moon"
            boss="true"
            volume="1"
        />
        <song
            name="Double Fucking Rainbow.mp3"
            scenes="goldshores,artifactworld"
            boss="false"
            volume="1"
        />
        <song
            name="Double Fucking Rainbow.mp3"
            scenes="goldshores,artifactworld,dampcavesimple,shipgraveyard,voidraid,voidraid"
            boss="true"
            volume="1"
        />
        <song
            name="Coalescence.mp3"
            scenes="moon"
            boss="false"
            volume="1"
        />
        <song
            name="Chanson d'Automne.mp3"
            scenes="wispgraveyard,goolake,foggyswamp,skymeadow,ancientloft,snowyforest,sulfurpools"
            boss="false"
            volume="1"
        />
        <song
            name="Monsoon 2.0.mp3"
            scenes="blackbeach,blackbeach2,golemplains,golemplains2,snowyforest"
            boss="false"
            volume="1"
        />
        <song
            name="Monsoon 2.0 (Alternate Version).mp3"
            scenes="blackbeach,blackbeach2,golemplains,golemplains2,snowyforest"
            boss="false"
            volume="1"
        />
<!-- Boss Music -->
        <song
            name="Dew Point.mp3"
            scenes="blackbeach,blackbeach2,golemplains,golemplains2,goolake,foggyswamp,arena,snowyforest,ancientloft,voidraid"
            boss="true"
            volume="1"
        />
        <song
            name="Hailstorm.mp3"
            scenes="frozenwall,wispgraveyard,dampcavesimple,shipgraveyard,ancientloft,snowyforest,goldshores,voidraid"
            boss="true"
            volume="1"
        />
        <song
            name="Tropic of Cancer.mp3"
            scenes="foggyswamp,goolake,wispgraveyard,frozenwall,skymeadow,sulfurpools,snowyforest,voidraid"
            boss="true"
            volume="1"
        />
        <song
            name="Surface Tension.mp3"
            scenes="blackbeach,golemplains,goolake,foggyswamp,skymeadow,ancientloft,voidraid"
            boss="true"
            volume="1"
        />
		<!-- A little something extra, for fun -->
        <song
            name="The Only Thing They Fear Is You.mp3"
            scenes="blackbeach,golemplains,blackbeach2,golemplains2,goolake,foggyswamp,skymeadow,dampcavesimple,shipgraveyard,frozenwall,wispgraveyard,moon,goldshores,ancientloft,sulfurpools,snowyforest,voidraid"
            boss="true"
            volume="1"
        />
    </music>
</settings>
